body {
	color: #2A2D30;	
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#top{
	text-align:center;
	padding-top:50px;
	padding-bottom:5px;
	padding-left:30px;
	padding-right:30px;
}

a:hover {
	color: #DB1D33;
}

#name{
	color: #000000;
	padding-top: 5px;
	font-family: 'Open Sans', 'Helvetica Nueue', 'Helvetica', sans-serif;
	font-size:500%;
}

#bottom{
	clear:both;
}

#h{
	font-size:16pt;
}

#menu a{
	text-decoration: none;
	color: #941322;
}

#menu{
	margin: 0pt auto;
	display: table;
}

.menuitem{
	font-size:20pt;
	text-align: center;
	padding-left:40px;
	padding-right:40px;
	float: left;
}

#center{
	text-align: center;
	padding:20px;
	font-size:20pt;
}

#sections{
	width: 61%;
	margin: 0px auto;
}

#abt{
	padding:10px;
}

#abt a{
	text-decoration: none;
	color: #941322;
}

#cnt{
	text-align:center;
	padding:10px;
}

#cnt a{
	text-decoration: none;
	color: #941322;
}

#pub{
	padding:10px;
}

.paper{
	padding:10px;
}

#pub a{
	text-decoration: none;
	color: #941322;
}

#like{
	padding:10px;
}

#like a{
	text-decoration: none;
	color: #941322;
}

@media (max-width: 600px) {
	#name{
		font-size: 250%;
	}

	.menuitem{
		padding-left: 15px;
		padding-right: 15px;
	}

	#sections{
		width: 90%;
	}
}